@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: 300; // normal
  font-display: swap;
  src: url('~static/fonts/Noto_Sans_Thai/static/NotoSansThai/NotoSansThai-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: 400; // regular
  font-display: swap;
  src: url('~static/fonts/Noto_Sans_Thai/static/NotoSansThai/NotoSansThai-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: 500; // medium
  font-display: swap;
  src: url('~static/fonts/Noto_Sans_Thai/static/NotoSansThai/NotoSansThai-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: 700; // bold
  font-display: swap;
  src: url('~static/fonts/Noto_Sans_Thai/static/NotoSansThai/NotoSansThai-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: 800; // extra-bold
  font-display: swap;
  src: url('~static/fonts/Noto_Sans_Thai/static/NotoSansThai/NotoSansThai-ExtraBold.ttf') format("truetype");
}